#root {
  margin: 0 auto;
  font-family: Arial, sans-serif;
}

body {
  background-color: oklch(27.8% 0.033 256.848);
}

.error {
  color: oklch(63.7% 0.237 25.331);
  font-weight: 500;
}

.loading {
  color: oklch(94.5% 0.129 101.54);
  font-weight: 500;
}

input {
  background-color: rgba(70, 90, 126, 0.4);
}

